# Mongo DB connection

## Libraries

In [1]:
import pandas as pd
from pymongo import MongoClient

## Connection String

In [3]:
def get_database_mongodb():
    """
    Esta funcion devuelve el cliente de MongoDB
    
    return Mongo Client Connection Object
    """
    
    CONNECTION_STRING = "mongodb+srv://pinoke98:<password>@cluster0.0kp5j.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
    mongo_client = MongoClient(CONNECTION_STRING)
    
    return mongo_client['retail']

## Leer Data

In [4]:
df_department = pd.read_csv(r"./data_retail/departments",header=None,names=['department_id','department_name'], sep="|")
df_department.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [6]:
df_mongo = df_department.to_dict("records")
df_mongo

[{'department_id': 2, 'department_name': 'Fitness'},
 {'department_id': 3, 'department_name': 'Footwear'},
 {'department_id': 4, 'department_name': 'Apparel'},
 {'department_id': 5, 'department_name': 'Golf'},
 {'department_id': 6, 'department_name': 'Outdoors'},
 {'department_id': 7, 'department_name': 'Fan Shop'}]

In [7]:
dbname = get_database_mongodb()
dbname['departments_collect'].insert_many(df_mongo)

InsertManyResult([ObjectId('675e060d9bfc18f5adbc3fe4'), ObjectId('675e060d9bfc18f5adbc3fe5'), ObjectId('675e060d9bfc18f5adbc3fe6'), ObjectId('675e060d9bfc18f5adbc3fe7'), ObjectId('675e060d9bfc18f5adbc3fe8'), ObjectId('675e060d9bfc18f5adbc3fe9')], acknowledged=True)

In [17]:
departments = dbname['departments_collect'].find({'department_id': 5})
df_departments = pd.DataFrame(departments)
df_departments

                        _id  department_id department_name
0  675e060d9bfc18f5adbc3fe7              5            Golf