# ETL

## Librerias

In [5]:
from sqlalchemy import create_engine
import socket
import pandas as pd
import sys

## Connection

In [10]:
DATABASE_CONFIG = {
    "host": socket.gethostbyname(socket.gethostname()),
    "port": 3310,
    "user": "root",
    "password": "root",
    "database": "retail_db"
}

In [15]:
def create_db_engine(config):
    """
    This method provides the connection to the mysql Data Base.
    
    return MySQL connection object
    """
    try:
        engine = create_engine(f"mysql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}")
        return engine
    except Exception as e:
        print(e)

In [16]:
create_db_engine(DATABASE_CONFIG)

Engine(mysql://root:***@192.168.1.9:3310/retail_db)

## Metodos

In [22]:
def read_csv(file_path, columns):
    """
    """
    try:
        df = pd.read_csv(file_path, header=None, sep='|', names=columns)
        return df    
    except Exception as e:
        print(e)

In [33]:
df_departments = read_csv(r'../data/departments',['department_id','department_name'])

In [28]:
def transform_departments(df):
    """
    """
    try:
        if df['department_name'].duplicated().any():
            print("Error: Filas Duplicadas")
            sys.exit(1)
        else:
            return df
    except Exception as e:
        print(e)

In [34]:
transform_departments(df_departments)

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop